@charset "UTF-8";
/* CSS Document */

p {
	color:red;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}


h1 {
	background-color:#33BEBE;
	font-family:helvetica;
	font-size:30px;
	color:#fff;
	padding:50px 0 5px 10px;
	font-weight:normal;
	
}
body {
	margin:100px 50px 0px 50px;
	marginwidth marginheight:0;
	}

